a {
  color: black;
}

.alreadyAddedBtn {
  margin-bottom: 30px;
}

.fa-trash {
  margin: 0;
}

.panel.panel-default {
  margin-bottom: 5px;
}

.addActBtn {
  margin-bottom: 20px;
  padding-left:0;
  padding-right:0;
}
